@tailwind base;
@tailwind components;
@tailwind utilities;

.buttonPrimary {
  display: flex;
  height: 2.375rem;
  padding: 0.625rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.5rem;
  border: 1px solid theme("colors.neutralLight.neutral40");
  background: theme("colors.neutralLight.neutral10");
  color: theme("colors.neutralLight.neutral100");
  flex-shrink: 0;
  font-size: 0.875rem;
  font-style: normal;
}

.buttonSecondary {
  border-radius: 3.125rem;
  border: 1px solid theme("colors.neutralLight.neutral80");
  width: 3.875rem;
  height: 2.25rem;
  flex-shrink: 0;
}
